.box {
  width: 100%;
}
.card {
  margin-right: 11px;
  margin-bottom: 14px;
  /* display: display; */
  box-shadow: 0;
  /* border-radius: 0; */
  background-color: #fff;
  position: absolute;
  border-radius: 10px;
}

.card1:hover {
  border: 1;
  border-color: #9e9e9e;
  box-shadow: 1;
  box-shadow: 1px;
  transform: scale(1.03);
}

.cargImg {
  /* top: 0; */
  width: 100%;
  height: 188px;
  object-fit: contain;
}
.cardContent {
  margin: 4px, 9px, 0;
  display: block;
  padding-left: 3px;
  /* component:"div"; */
}
.prodName {
  height: 36px;
  line-height: 18px;
}

.prodCost {
  height: 22px;
  display: block;
  margin-top: 4px;
  color: #f57224;
}

.prodDiscountCost {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  height: 10px;
  color: #9e9e9e;
}

.prodRating {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  margin-top: 12px;
  height: 12px;
  /* clear: both; */
}

/* .btnBox {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 9px;
  text-align: center;
} */

.Rating {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: 8px;
}
.btnAddCart {
  border: 1px solid#3d7cff;
  color: #3d7cff;
  border-radius: 2px;
  height: 24px;
  width: 24px;
  /* margin: 0 auto; */
  /* font-size: 8px; */
  /* padding: 0 12; */
  /* background-color: #3d7cff; */
  /* text-align: center; */
  padding: 1px;
  margin-right: 8px;
  /* margin-bottom: -200px; */
}

/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

.card1 {
  /* margin: auto; */
  margin-right: 11px;
  margin-bottom: 14px;
  /* display: display; */
  box-shadow: 0;
  border-radius: 0;
  background-color: #FFFFFF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card1 {
  margin-top: 1px;
  width: 15.8%;
  margin-right: 11px;
  margin-bottom: 14px;
 
}
@media screen and (max-width: 1280px) {
  .card1 {
    width: 15.7%;
    margin-right: 11px;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .card1 {
    width: 18.85%;
    margin-right: 10px;
    margin-bottom: 14px;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
}
@media screen and (max-width: 992px) {
  .card1 {
    width: 31.5%;
    margin-right: 11px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 600px) {
  .card1 {
    width: 46.5%;
    margin-right: 11px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 300px) {
  .card1 {
    width: 100%;
    margin-right: 11px;
    margin-bottom: 14px;
  }
}
