.breadcrumbs {
  background-color: #fafafa;
}
.buyNowbtn {
  display: flex;
  height: 44px;
  width: 225px;
  font-size: 16px;
  color: #fff;
  border: 1px solid rgb(210, 63, 87);
  border-radius: 2px;
  background-color: rgb(210, 63, 87);
}
/* .buyNowbtn :hover {
  color: #3d7cff;
  border: 1px solid #3d7cff;
  background-color: #fff;
} */
.addToCartbtn {
  display: flex;
  height: 44px;
  width: 225px;
  font-size: 16px;
  color: rgb(210, 63, 87);
  border: 1px solid rgb(210, 63, 87);
  border-radius: 2px;
  background-color: #fff;
}

.buyNowbtnSM {
  display: flex;
  height: 38px;
  width: 150px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #3d7cff;
  border-radius: 2px;
  background-color: #3d7cff;
}
/* .buyNowbtn :hover {
  color: #3d7cff;
  border: 1px solid #3d7cff;
  background-color: #fff;
} */
.addToCartbtnSM {
  display: flex;
  height: 38px;
  width: 150px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #f57224;
  border-radius: 2px;
  background-color: #f57224;
}

.selectimg {
  border: 1px solid #fff;
}
/* .selectimg :active {
  border-color: red;
  border: 3px solid red;
} */

.selectimg:active {
  border: 1px solid rgb(210, 63, 87);
}
.selectimg:hover {
  border: 1px solid rgb(210, 63, 87);
}

/* .selectimg::selection {
  border: 1px solid hsl(209, 94%, 39%);
} */

.ratings {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 20px;
  /* background-color: white; */
}

.ratingsDesc {
  padding-left: 20px;

  /* display: flex; */
  /* font-size: 1rem; */
  /* font-weight: bold; */
  background-color: white;
}
