.textField {
  width: 65px;
  margin-top: 6px !important;
  /* background-color: #fff; */
  /* padding: 3px; */
  text-align: center;
  justify-content: center;
  line-height: normal;
}

.pricefilter {
  /* min-height: 100px; */
  margin-bottom: 20px;
}
.otherFiltersDiv {
  margin-bottom: 20px;
}
.categoryHeading {
  margin-top: 18px;
  margin-left: 27px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.pricefields {
  display: flex;
  margin-top: 5px;
  margin-left: 29px;
}

.button {
  width: 65px;
  margin-top: 6px !important;
  margin-left: 5px;
  margin-right: 3px;
  /* background-color: #fff; */
  /* padding: 3px; */
  height: 39px;
  /* text-align: center; */
  /* justify-content: center; */
  /* line-height: normal; */
}
