.shipTo {
  margin-top: 31px;
  /* margin-bottom: 2px; */
  padding-left: 30px;
  align-items: center;
  flex-wrap: wrap;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.shipAddress {
  /* display: flex; */
  /* align-items: center; */
  /* background-color: #fff; */
  margin-top: 31px;
  background-color: #fff;
  width: 100%;
  /* padding-left: 30px; */
  border-radius: 10px;

  justify-content: space-between;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}
.addressBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 31px;
  padding-right: 31px;
  height: 70px;
}
.addressHeading {
  display: flex;

  /* justify-content: space-between; */
}
.LocationOnIcon {
  margin-right: 5px;
  color: #f34f2f;
}
.table {
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 50px; */
  padding: 10px;
  margin: 10px;
  /* background-color: #f6f9fc; */
}

.addressBoxDivMain {
  display: flex;
  flex-wrap: wrap;
  padding-left: 31px;
  /* flex-direction: row; */
}
.addressBoxDiv {
  /* display: flex; */
  /* height: 92.41000366210938px; */
  padding: 5px;
  margin: 16px;
  width: 22%;
  left: 0px;
  top: 0px;
  background-color: #f6f9fc;
  border: 1px solid #d8e0e9;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

.addressLabelDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: -5px; */
}
.editDel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
}
.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 2px;
  /* Gray/700 */

  color: #4b566b;
}
.thead {
  height: 40px !important;
}
.tableRow {
  margin-top: 16px;
  width: 56px;
  background: #ffffff;
  border-radius: 10px;
}
.select {
  width: 5%;
}
.name {
  width: 10%;
}
.addLabel {
  width: 12%;
}
.fullAdd {
  width: 30%;
}
.phone {
  width: 15%;
}
.email {
  width: 20%;
}
.edit {
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chip {
  text-align: center;
  height: 20px;
  border: 8px;
  border-radius: 4px;
  justify-content: center;
  font-size: 12px;

  /* border-radius: 8px;
    color: #fff;
    font-size: 9px;
    display: inline-block;
    height: 15px;
    text-align: center;
    vertical-align: text-bottom;
    line-height: 15px;
    margin-right: 5px;
    padding: 0 7px; */
}

/* .editIcon {
  color: green;
} */

.findLocker {
  border-radius: 10px;
  margin-top: 31px;

  /* height: 10vh; */
  /* display: flex; */
  /* align-items: center; */
  background-color: #fff;
}

.findLockerButton {
  margin-top: 10px;
  display: flex;
  height: 44px;
  border-radius: 8px;

  width: 200px;
  font-size: 16px;
  /* border: 1px solid #f34f2f; */
  color: #fff;
  /* background-color: #f34f2f; */
}

.mapTableView {
  display: flex;
  /* font-size: 100px; */
  /* font-weight: bold; */
  background-color: #fff;

  padding: 1vh;
  margin: 1px;
}
.mapTableViewText {
  font-size: 14px;
  font-weight: bold;
}
.mapTableViewText :active {
  font-size: 14px;
  color: #3d7cff;
  font-weight: bold;
  cursor: pointer;
}
