.shippingMethods {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 31px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  padding-left: 31px;
  padding-bottom: 10px;
}

.shippingHeading {
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  /* display: flex; */
}

.Icon {
  margin-right: 5px;
  color: #3d7cff;
}

.shippingBoxDivMain {
  display: flex;
  flex-wrap: wrap;

  /* padding-left: 21px; */
}
/* --------------------------- */
/* personal Info */
.boxInfo {
   padding: 5px;
    margin: 16px;
    width: 50%;
    left: 0px;
    top: 0px;
    background-color: #f6f9fc;
    border: 1px solid #d8e0e9;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  
}
.infoList {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.infoIcon {
  margin-right: 15px;
  /* color: #f34f2f; */
}

.shippingAddress {
  padding: 5px;
  margin: 16px;
  width: 22%;
  left: 0px;
  top: 0px;
  background-color: #f6f9fc;
  border: 1px solid #d8e0e9;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
}

.addressLabelDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: -5px; */
}
