.sideBarFilter {
  width: 278px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
}

.categoryHeading {
  margin-top: 18px;
  margin-left: 27px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.categories {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* flex-wrap: wrap; */
  /* direction: c; */
  /* min-height: 100px; */
  margin-bottom: 10px;
}
.categoryParent {
  height: 19px;
  width: 119px;
  left: 2px;
  top: 36px;
  border-radius: nullpx;
  margin-top: 16px;
  margin-left: 35px;
}
.categoryChild {
  /* height: 19px; */
  width: 150px;
  margin-top: 11px;
  margin-left: 49px;
}

.brandsList {
  /* min-height: 100px; */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  text-align: left;
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  margin-left: 29px;
  /* line-height: 22px; */
}
